# Python
###################

# Byte-code
*.pyc
*.pyo
*.pyd

# Caches
__pycache__/
.pytest_cache/
.tox/

# Virtual Environments
venv/
env/
.venv/
.env/
virtualenv/

# Build artifacts and packaging
/build/
/dist/
*.egg-info/
*.egg

# Environment variables
.env
.env.*

# IDE / Editor
###################

# VS Code
.vscode/

# PyCharm
.idea/

# Sublime Text
*.sublime-project
*.sublime-workspace

# Operating System
###################

# macOS
.DS_Store
._*

# Windows
Thumbs.db
desktop.ini

# Other
###################

# Coverage reports
htmlcov/
.coverage
